.navbar{
  background: darkblue
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

a{
  text-decoration: none;
}

li{
  cursor: pointer;
  font-size: 1.2rem;
  color: #fff;
  list-style-type: none;
}
#Nav_menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .Nav_link:link {
    color: #fff;
    font-size: 1.2rem;
    /* line-height: 1.3rem; */
    text-decoration: none;
    margin: 12px;
  }

  .Nav_link:visited {
    color: #fff;
  }
  .Nav_link:hover {
    color:red
  }
  .Nav_link:active {
    color: rgb(146, 189, 189);
  }
  
  .activeRoute {
    background-color: yellow;
    border-bottom: 0.4rem solid teal;
    cursor: not-allowed;
  }
  /* .bg{
    background-color: #2CAEE2
  } */